@import "../../styles/variables.scss";

.error {
  text-align: center;
  
  &__button {
    background-color: $color-primary;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
  }
}
